body {
    display: grid;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    background-color: beige;
}

header {
    height: 100px;
    text-align: center;
}

main {
    display: grid;
    justify-content: center;
    margin: 10px;
}

.boardWrapper {
    display: grid;
    height: 400px;
    width: 400px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: lightgreen;
    border: 5px solid darkgrey;
    border-radius: 8px;
}

.cell {
    background-color: unset;
    border: 5px solid darkgrey;
    font-size: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

#msg {
    text-align: center;
}

#start {
    width: 100px;
    justify-self: center;
}